huggingface-hub
sentencepiece
tqdm
transformers
pydantic
langchain
python-dotenv
faiss-cpu
sentence-transformers
pypdf
streamlit
streamlit_chat
streamlit_authenticator
faiss-cpu
torch==2.0.1
torchvision==0.15.2
