langchain
PyPDF2
python-dotenv
streamlit
#openai==0.27.6
faiss-cpu
altair
tiktoken
# uncomment to use huggingface llms
huggingface-hub

# uncomment to use instructor embeddings
InstructorEmbedding
sentence-transformers